/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  height: 100vh;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #bac8ff;
}

/* Container */

.app-container {
  width: 500px;
  max-height: 80vh;

  padding: 2.4rem 1.8rem;
  border-radius: 18px;

  overflow-y: auto;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);

  background-color: #fff;
}

/* LOGO SECTION */

.title {
  font-size: 3rem;
  font-style: italic;
  font-weight: 500;

  margin-bottom: 3rem;
}

.title::first-letter {
  font-style: normal;
}

.logo-separator {
  opacity: 30%;

  margin-bottom: 2.4rem;
}

/*****************/
/* FORM SECTION */
/***************/

/* Form layout */

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3.4rem;
}

.form-input,
.form-btn {
  height: 5.4rem;
  border-radius: 6px;
}

/* Form input */

.form-input {
  font-size: 2.2rem;

  flex-grow: 1;

  margin-right: 1rem;
  padding: 0 2rem;
  border: none;

  color: #495057;
  background-color: #f1f3f5;
}

.form-input::placeholder {
  opacity: 60%;
}

.form-input:focus {
  outline: none;
  border: 2.4px solid #845ef7; /* Adiciona uma borda personalizada */
}

/* Form btn */

.form-btn {
  width: 5.4rem;

  font-size: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  transition: all 0.3s ease;

  border: none;
  cursor: pointer;

  color: #fff;
  background-color: #845ef7;
}

.form-btn:hover {
  background-color: #7950f2;
}

.form-btn:active {
  transform: scale(0.95);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* TODO LIST AND TODO ITEM SECTION */

.todo-list {
  list-style-type: none;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  margin-bottom: 0.8rem;
  padding: 2rem 1rem;
  border-radius: 8px;
}

.todo-item::after {
  width: 88%;
  height: 1.05px;

  content: "";

  position: absolute;
  left: 10%;
  bottom: -0.4rem;

  opacity: 50%;
  background-color: #e9ecef;
}

.left-box {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
}

.item-description {
  font-size: 2.2rem;
  word-break: break-word;

  flex-grow: 1;
}

.item-description.completed {
  text-decoration: line-through;

  color: #adb5bd;
}

.remove-btn {
  font-size: 2.4rem;

  border: none;

  transition: color 0.3s ease;

  cursor: pointer;

  color: #845ef7;
  background: none;
}

.remove-btn:hover {
  color: #6c42c1;
}

/* Checkbox */

input[type="checkbox"] {
  width: 2.6rem;
  height: 2.6rem;

  appearance: none;
  border: 2px solid #845ef7;
  border-radius: 4px;

  position: relative;
  flex-shrink: 0;

  cursor: pointer;

  transition: all 0.2s ease;
}

input[type="checkbox"]:checked {
  background-color: #845ef7;
}

input[type="checkbox"]:checked::after {
  width: 3px;
  height: 8px;

  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -60%) rotate(45deg);

  border: solid white;
  border-width: 0 2px 2px 0;
}
